<footer class="text-center py-5">
  <div class="container">

    <h4>CS 499 Capstone ePortfolio</h4>

    <p>
      Bachelor of Science in Computer Science
      <br />
      Southern New Hampshire University
    </p>

    <div class="mt-4">
      <a
        href="https://github.com/zencode4/CS-499-Computer-Science-Capstone/tree/final"
        target="_blank"
        class="btn btn-outline-light btn-md"
      >
        <i class="bi bi-github"></i>
        GitHub Repository
      </a>
    </div>

    <p class="small mt-4">© 2026 Shawn Cathey</p>
  </div>
</footer>