<nav class="navbar navbar-expand-lg navbar-dark shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="../index.html">
      CS 499 Capstone ePortfolio
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pages/self-assessment.html"
            >Self-Assessment</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pages/code-review.html">Code Review</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pages/original-artifact.html"
            >Original Artifact</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pages/enhancement1.html">Software</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pages/enhancement2.html">Algorithms</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pages/enhancement3.html">Databases</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pages/final-artifact.html"
            >Final Artifact</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="https://github.com/zencode4/CS-499-Computer-Science-Capstone/tree/final"
            >Repository</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
